<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         verbose="true"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="ZeframMvc Test Suite">
            <directory suffix=".php">./tests/ZeframMvc</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./library/ZeframMvc/</directory>
        </whitelist>
    </filter>
</phpunit>
